<h2>Albums</h2>

<ul>
  {{#each albums}}
    <li>
      <h3>{{name}}</h3>
      {{#if images.length}}
        <img src="{{images.0.url}}" alt="{{name}} image" />
      {{/if}}
      <a href="/tracks/{{id}}">View Tracks</a>
    </li>

  {{/each}}
</ul>