{{! TODO Figure out how to ommit duplicate albums }}

<div class="p-12 grid grid-cols-2 gap-6 bg-slate-500">
  {{#each albums}}

    <div class="relative flex items-center justify-center">

      {{#if images.length}}
        <img
          class="w-auto h-auto rounded p-2 shadow-md"
          src="{{images.0.url}}"
          alt="{{name}} image"
        />
      {{/if}}
      <div
        class="absolute bottom-6 flex flex-col justify-center items-center bg-slate-400 w-2/3 p-4 rounded-xl h-16"
      >
        <h3 class="text-white text-lg font-bold">{{name}}</h3>
        <a class="text-white hover:text-blue-700" href="/tracks/{{id}}">View
          Tracks</a>
      </div>

    </div>
  {{/each}}
</div>