<h2>Search for your favorite artist!</h2>

<form method="GET" action="/artist-search">
  <label for="artist"></label>
  <input type="text" id="artist" name="artist" placeholder="Find artists" />
  <input type="submit" value="Search for an Artist" />
</form>