<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
      <script>
    tailwind.config = {
      theme: {
        extend: {
             backgroundImage: {
        'hero': "url('https://img.freepik.com/free-photo/back-view-crowd-fans-watching-live-performance-music-concert-night-copy-space_637285-544.jpg?w=1480&t=st=1680459536~exp=1680460136~hmac=ef4187b6edf1d5fe8cb91fd8c759bff7221916edcfd9da3966a185d756a8853d')",
        'footer-texture': "url('/img/footer-texture.png')",
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
    <title>Spotify Express</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    {{{ body }}}
  </body>
</html>